.posts {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link {
  color: #81fe88;
  font-size: 16px;
}

.actions {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}
