.footer {
  display: flex;
  justify-content: flex-end;
}

.form {
  display: flex;
  flex-direction: column;
}

.replySpan {
  background: none;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
